/* GENERAL */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.encuesta-container{
    border: 1px solid black;
    padding: 20px;
    align-self: self-start;
}

/* CREAR PREGUNTA */

.input-container{
    position: relative;
}

.input-titulo{
    position: absolute;
    top: -30%;
    left: 10px;
    padding: 0 5px;
    background-color: white;
    font-size: 0.8em;
}

.letras-opcion{
    position: absolute;
    top: -10%;
    right: 5%;
    font-size: 0.7em;
}

.encuesta-input{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid black;
}

.encuesta-input:focus{
    outline: none;
    border: 2px solid dodgerblue;
}


/* CEAR OPCIONES */

.encuesta-opciones{
    max-width: 100%;
}



/* VOTAR PREGUNTA */
#votar-pregunta{
    text-align: center;
    padding: 10px;
    border: 2px solid dodgerblue;
    border-radius: 50px;
}

/* VOTAR OPCIONES */
.votar-opciones{
    width: 100%;
}
.votar-opcion{
    text-align: center;
    padding: 15px;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    margin: 0;
}

.votar-opcion:hover{
    background-color: aliceblue;
}

.votada{
    background-color: lightcyan;
}

/* OTROS */

.pointer{
    cursor: pointer;
}

.input-actions{
    justify-content: center;
}

.input-action{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid dodgerblue;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    margin: 0 10px;
}

.input-action:hover{
    background-color: dodgerblue;
    color: white;
}