/* GENERAL */
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(30, 143, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

main{
    overflow: auto;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 20px;
}

.encuesta-container{
    border: 2px solid dodgerblue;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    width: 100%;
}

.encuesta-tabla{
    width: 100%;
}

.encuesta-opcion, .encuesta-pregunta{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.encuesta2-pregunta, .encuesta3-pregunta{
    border: 2px solid dodgerblue;
    margin-top: 0;
    text-align: center;
}

#num-usuarios{
    width: 150px;
}

/* -------- ENCUESTA 1 -------- */
.input-container{
    position: relative;
}

.input-titulo{
    position: absolute;
    top: -30%;
    left: 10px;
    padding: 0 5px;
    background-color: white;
    font-size: 0.8em;
}

.letras-opcion{
    position: absolute;
    top: -10%;
    right: 5%;
    font-size: 0.7em;
}

.encuesta-input:focus{
    outline: none;
    border: 1px solid dodgerblue;
}


/* -------- ENCUESTA 2 -------- */

.encuesta2-opcion{
    text-align: center;
    border: 2px solid dodgerblue;
    margin: 0;
    margin-bottom: 15px;
}

.votada{
    background-color: dodgerblue;
    color: white;
}


/* -------- ENCUESTA 3 -------- */
.encuesta3-opcion{
    padding: 0;
}

.recuento-porcentaje{
    background-color: rgba(30, 143, 255, 0.5);
    height: 100%;
    justify-content: space-between;
}

.recuento-porcentaje p{
    margin: 0;
    padding: 15px;
}


/* BOTONES */
.input-actions{
    justify-content: center;
}

.input-action{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid dodgerblue;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    margin: 0 10px;
}

.input-action:hover{
    background-color: dodgerblue;
    color: white;
}


/* OTROS */

.pointer{
    cursor: pointer;
}

[id*="error"]{
    text-align: center;
}


#usuarios{
    grid-template-columns: 50% 50%;
}